<h1>New food</h1>

<%# <%= render "form", food: @food%>

<%= form_with model: @food, url: foods_path do |f| %>
  <%= f.label :name, "Nama Makanan" %> <br>
  <%= f.text_field :name %> <br>
  <%= f.label :price, "Harga" %> <br>
  <%= f.text_field :price %> <br>
  <%= f.label :category, "Kategori" %> <br>
  <%= f.text_field :category %> <br>
  <%= f.submit %>
<% end %>



<br>

<div>
  <%= link_to "Back to foods", foods_path %>
</div>

<script>
  
</script>